/* Spider web corner */ 

.spiderwebcorner {
    width: 100%;
    height: 300px;
}

.cornerweb {
    max-width: 100%;
    max-height: 100%;
    opacity: 0.3;
}

.cornerweb:hover {
    opacity: 0.5;
    transition: all 0.1s;
}