@import "../Fonts/fonts.css";
@import "../Footer.css";
@import "../Header.css";
@import "../Spiderweb.css";

/* Body */

body {
    background-color: rgb(0, 0, 0);
    width: auto;
    height: auto;
}

/* Grid for 3 panels */

.container {
    height: 800px;
    display: grid;
    grid-template-columns: 25% 50% 25%;
}

/* Panels style */

#centerpanel {
    border-radius: 2px;
    background-color: rgb(111, 117, 124);
}

#centerpanel:hover {
    box-shadow: 7px 0px 5px -5px #ffffff;
    transition: all 0.3s;
}

/* Hover for Header H1 */

.header h1:hover,
.header h1:focus {
  box-shadow: 0 0.5em 0.5em -0.4em var(--hover);
  transform: translateY(0.1em);
}

/* Grid for cards */

.albums {
    height: 600px;
    display: grid;
    grid-template-columns: 48% 48%;
    grid-template-rows : 48% 48%;
    grid-gap: 10px;
    justify-content: center;
}

/* Text Placement */

.cover h1 {
    margin-top: 110px;
    margin-bottom: -20px;
    font-size: 2.7em;
}

.cover p {
    font-size: 1.5em;
}

.cover a {
    text-decoration: none;
    margin-bottom: -30px;
}

/* Nav bar */

.nav {
    background-color:rgb(194, 190, 190);
    border-radius: 2px;
    margin-bottom: 20px;
    text-align: center;
}

.nav a {
    text-decoration: none;
    color: rgb(46, 45, 45);
    font-style: italic;
}

.nav a:hover {
    text-decoration: underline;
    transition: 0.2s;
}

.nav li {
    display: inline-block;
    font-family: Blackrose;
    font-size: 1.1em;
    margin-right: 25px;
}

/* First card */ 

#specimen {
    text-align: center;
    background-size: cover;
    background-position: center;
    background-image: url("../../images/specimen.jpg");
}

/* All cards */

.text {
    font-family: Blackrose;
    text-align: center;
    color: rgb(185, 89, 158);
}

.cover {
    border-radius: 5px;
    box-shadow: 3px 3px 5px #352828;
}

/*Second card */

#siouxsie {
    background-size: cover;
    background-position: center;
    background-image: url("/images/siouxsie.jpg");
}

/* Third card */

#joydivision {
    background-size: cover;
    background-position: center;
    background-image: url("/images/joydivision.jpg");
}

/* Fourth Card */

#skeletal {
    background-size: cover;
    background-position: center;
    background-image: url("/images/skeletal.jpg");
}

/* Media queries */

/* Large Screen */

@media(min-width:900px){

    .text {
        opacity: 0;
        transition: all 0.1s;
    }
    
    .cover:hover .text {
        opacity: 1;
        text-shadow: 1px 1px 10px rgb(0, 0, 0), 0 0 45px black, 0 0 55px rgb(2, 0, 0);
    }
    
    .cover:hover .text a {
        color: rgb(255, 255, 255);
    }
    }
    
    /* Medium screen */
    
    @media (min-width:600px) and (max-width:900px){
    .container {
        display: grid;
        grid-template-columns: 10% 80% 10%;
    }
    
    .cornerweb {
        display: none;
    }
    
    p {
        margin-top: -22px;
    }
    }
    
    /* Small screen */
    
    @media(max-width:600px){
    #leftpanel,
    #rightpanel {
        display: none;
    }
    
    .container {
        display: grid;
        grid-template-columns: 100%;
    }
    
    .albums {
        height: auto;
        display: flex;
        flex-direction: column;
    }
    
    .cover {
        height: 300px;
    }
    }
