@import "/css/Fonts/fonts.css";
@import "/css/Post/hoverpost.css";
@import "/css/Footer.css";
@import "/css/Header.css";
@import "/css/Spiderweb.css";
  
/* Body */

  body {
    background-color: black;
    width: auto;
    height: auto;
}

/* Grid for 3 panels */

.container {
    display: grid;
    grid-template-columns: 25% 50% 25%;
}

/* Central Panel style */ 

.centralpanel {
    background-color: rgb(111, 117, 124);
    border-radius: 2px;
}

/* Article */

.content {
    text-align: justify;
    font-family: 'Unna', serif;
    font-size: 1.1em;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: auto;
    grid-template-areas: 
    "p1 ph"
    "p2 p2"
    "sl sl"
    "p3 p3"
}

/* Article*/

.albumcover {
    height: 300px;
    background-image: url("/images/batastrophe.jpg");
    background-size: cover;
    background-position: center;
    margin: 20px 12px 0 12px;
    border-radius: 3px;
    box-shadow: 3px 3px 5px #352828;
    grid-area: ph;
}

.p1 {
    margin: 0 12px;
    grid-area: p1;
}

.p2 {
    margin: 0 12px;
    grid-area: p2;
}

.p3 {
    margin: 0 12px;
    grid-area: p3;
}

blockquote {
    font-style: italic;
    font-weight:bold;
}

.slider {
    grid-area: sl;
    margin: 0 10px;
}

.slider img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    border-radius: 10px;
    box-shadow: 3px 3px 5px #352828;
}

figure {
    font-size: 0.7em;
    font-style: italic;
    text-align: right;
}

/* Right Panel */

/* Form */

.form {
    border: 1px solid rgb(176, 176, 177);
    border-radius: 15px;
    margin: 450px 25px;
    text-align: center;
    box-sizing: border-box;
}

.form h1 {
    font-family: BlackRose;
    border: none;
    color: rgb(161, 157, 157);
    margin-bottom: 30px;
    margin-top: 10px;
}

input[type=text] {
    width: 90%;
    opacity: 0.4;
}

label {
    color: rgb(209, 207, 207);
}

input[type=submit] {
    margin-top: 10px;
    margin-bottom: 10px;
}

/* Author */

.author {
    background-color: rgb(34, 33, 33);
    border-radius: 50px;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding-left: 10px;
    margin: 0 25px;
}

.portrait {
    background-image: url(/images/avatar.png);
    background-size: cover;
    height: 150px;
    width: 150px;
    margin-left: -15px;
    padding-bottom: 15px;
}

.social {
    display: flex;
    flex-direction: row;
    margin-top: 60px;
}

.button {
    width: 50px;
    height: 50px;
    padding-right: 3px
}

.bio {
    line-height: 2px;
    color: white;
    font-size: 0.9em;
    font-family: 'Unna', serif;
    margin-top: 20px;
}

.name {
    font-family: Blackrose;
    font-size: 2.5em;
}

/* Media Queries */

/* Medium screens */

@media (min-width:600px) and (max-width:900px){

    .content {
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: auto;
        grid-template-areas:
        "ph"
        "p1"
        "p2"
        "p3"
        "sl"
    }

    .container {
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: auto;
        grid-template-areas:
        "cp"
        "lp"
        "rp"
    }

    .spiderwebcorner {
        display: none;
    }

    .leftpanel {
        grid-area: lp;
    }

    .rightpanel {
        grid-area: rp;
    }

    .centralpanel {
        grid-area: cp;
    }

    .form {
       margin-top: 10px;
    }
}

/* Small screens */

@media(max-width:600px){

    .spiderwebcorner,
    .footer {
        display: none;
    }

/* Container */

    .container {
        display: flex;
        flex-direction: column;
    }

    .centralpanel {
        order: 1;
    }

    .leftpanel {
        order: 2;
    }

    .rightpanel {
        order: 3;
    }

/* Image Grid */

    .content {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: auto;
    grid-template-areas:
    "ph"
    "p1"
    "p2"
    "p3"
    "sl"
    }

/* Author grid */ 

 .author {
        height: 220px;
        margin-bottom : 20px;
        display: grid;
        grid-template-columns: 50% 50%;
        grid-template-rows: 50%;
        grid-template-areas:
        "po bi"
        "so so"  
    }

    .portrait {
        grid-area: po;
    }

    .bio {
        grid-area: bi;
    }

    .social {
        grid-area: so;
        margin-top: 50px;
    }

/* Form */

.form {
    margin-top: 30px;
}
}